<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualização de dados</title>

  <script src="../assets/js/fetch-dados.js" defer></script>

  <link rel="stylesheet" href="../assets/css/dados.css">
  <link type="image/png" sizes="32x32" rel="imageIcon" href="Icone">


</head>

<body>
  <main class="container-perfil">
    <div class="titulo">
      <h1>Atualização de dados</h1>
      <br>
    </div>


    <form action="" method="post">
      <div class="info-dados">
        <p>Dados pessoais:</p>
      </div>


      <div class="atualizacao">
        <input type="email" name="email" id="email" placeholder="Email:" maxlength="100" minlength="15" required>
        <input type="password" name="senha" id="senha" placeholder="Senha:" maxlength="50" minlength="5" required>
        <input type="text" name="nome" id="nome" placeholder="Nome completo:" minlength="10" maxlength="200" required>
        <input type="text" name="cpf" id="cpf" placeholder="CPF:" maxlength="14" minlength="14" required>
        <input type="number" name="peso" id="peso" placeholder="Peso(KG):" step="0.1" maxlength="6" minlength="3"
          required>
        <input type="number" name="altura" id="altura" placeholder="Altura:" step="0.1" maxlength="4" minlength="3"
          required>
        <input type="date" name="data-nasc" id="data-nasc" required>
        <input type="text" name="telefone" id="telefone" placeholder="Telefone:" minlength="15" maxlength="18" required>

        <div class="tipo-sangue">
          <label for="select-sangue">Tipo sanguíneo: </label>
          <select name="select-sangue" id="select-sangue" required>
            <option value="a+">A+</option>
            <option value="a-">A-</option>
            <option value="b+">B+</option>
            <option value="b-">B-</option>
            <option value="ab+">AB+</option>
            <option value="ab-">AB-</option>
            <option value="o+">O+</option>
            <option value="o-">O-</option>
          </select>
        </div>
      </div>

      <div class="info-dado">
        <p>Endereço:</p>
      </div>


      <div class="endereco">
        <input type="text" name="cep" id="cep" placeholder="CEP:" minlength="9" maxlength="9" required>
        <input type="text" name="rua" id="rua" placeholder="Rua:" minlength="5" maxlength="50" required>
        <input type="text" name="bairro" id="bairro" placeholder="Bairro:" minlength="5" maxlength="50" required>
        <input type="text" name="municipio" id="municipio" placeholder="Municipio:" minlength="5" maxlength="50"
          required>
        <input type="text" name="uf" id="uf" placeholder="UF:" minlength="2" maxlength="2" required>
        <input type="number" name="numero" id="numero" placeholder="Numero:" minlength="1" maxlength="3" required>
        <input type="text" name="complemento" id="complemento" placeholder="Complemento:" maxlength="50">
      </div>

      <div>
        <button>Atualizar</button>
      </div>
    </form>
  </main>
</body>

</html>