<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/login.css">
  <link rel="stylesheet" href="../assets/css/mq-login.css">
  
</head>
<body>
  <main class="container-cadastro">
    <div class="titulo">
      <h1>Login</h1>
      <p>Acesse sua conta</p>
    </div>

    <form action="" method="post">

    <div class="login">
        <input type="email" name="email" id="email" placeholder="Email:" maxlength="100" minlength="15" required>
        <input type="password" name="senha" id="senha" placeholder="Senha:" maxlength="50" minlength="5" required>
        <button>Entrar</button>
    </div>
    
    <div class="cadastro">
      <h2>Cadastrar</h2>
      <p>Ainda não possui uma conta? faça um cadastro.</p>
      
      <a href="cadastro.html">Cadastrar</a>
    </div>
    
  </form>
  </main>
  
</body>
</html>