<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>

  <link rel="stylesheet" href="../assets/css/perfil.css">
  <link rel="stylesheet" href="../assets/css/mq-perfil.css">

  <script src="../assets/js/perfil.js" defer></script>
  <script src="../assets/js/fetch-perfil.js" defer></script>

  <link type="image/png" sizes="32x32" rel="icon" href="image.ico">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <main class="container-perfil">
    <div class="titulo">
      <h1>Perfil</h1>
      <p>Seja bem vindo ao seu perfil!</p>
    </div>

    <nav>
      <a href="dados.html">Atualizar cadastro</a>
    </nav>


    <div class="info-agendamento">
      <p>Agendar doação:</p>
    </div>

    <form action="" method="post">
      <div class="agendar-doacao">
        <input type="text" name="cpf" id="cpf" placeholder="CPF:" maxlength="14" minlength="14" required><br>
        <input type="date" name="data-agendamento" id="data-agendamento" required><br>
        <input type="text" name="hora-agendamento" id="hora-agendamento" placeholder="Horário agendado:" maxlength="5"
          minlength="5" required><br>
      </div>


      <div class="info-pessoal">

        <p class="titulo-info-pessoal">Informações necessárias para doar:</p>

        <div class="tatuagem">
          <p>Fez tatuagem nos últimos 12 meses:</p>

          <div class="lista-tatuagem">
            <label for="sim">Sim:</label>
            <input type="radio" name="tatuagem" id="sim-tatuagem" required>
            <label for="nao">Não:</label>
            <input type="radio" name="tatuagem" id="nao-tatuagem">
          </div>
        </div>

        <div class="piercing">
          <p>Fez piencing nos últimos 6 meses:</p>

          <div class="lista-piercing">
            <label for="sim">Sim:</label>
            <input type="radio" name="piercing" id="sim-piercing" required>
            <label for="nao">Não:</label>
            <input type="radio" name="piercing" id="nao-piercing">
          </div>
        </div>

        <div class="remedio">
          <p>Faz medicamentos de uso contínuo:</p>

          <div class="lista-remedio">
            <label for="sim">Sim:</label>
            <input type="radio" name="remedio" id="sim-remedio" required>
            <label for="nao">Não:</label>
            <input type="radio" name="remedio" id="nao-remedio">
          </div>
        </div>
      </div>

      <button class="btEnviar">Enviar</button>
      </div>
  </main>

</body>

</html>