@charset "UTF-8";

@media screen and (max-width: 1835px) {
  .banner { 
    padding-bottom: 0rem;
    height: 70vh;
  }
  .texto-banner h1 {
    font-size: 2.5rem;
  }

.video iframe {
    width: 500px;
    height: 281.25px;
  }
}
@media screen and (max-width: 1544px) {
  .texto-banner h1 {
    font-size: 2.3rem;
  }

  .video iframe {
    width: 480px;
    height: 270px;
  }
}

@media screen and (max-width: 1430px) {
  .texto-banner h1 {
    font-size: 2.2rem;
  }
  
  .texto-banner p {
    font-size: 1rem;
  }
  
  .video iframe {
    width: 440px;
    height: 247.50px;
  }
  
}

@media screen and (max-width: 1370px) {
  .texto-banner h1 {
    font-size: 2rem;
  }
  
  
  .video iframe {
    width: 420px;
    height: 236.25px;
  }

  .texto-banner a {
    padding: 1.2rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1255px) {
  .banner {
    padding: 2rem;
    height: 50vh;
  }
  .texto-banner h1 {
    font-size: 1.8rem;
  }
  
  .texto-banner p {
    padding-bottom: 1.2rem;
  }
  
  .video iframe {
    width: 400px;
    height: 225px;
  }
  
}

@media screen and (max-width: 1200px) {
  
  .texto-banner h1 {
    font-size: 1.8rem;
  }
   
  .video iframe {
    width: 400px;
    height: 225px;
  }
 
}

@media screen and (max-width: 1080px) {
  .banner {
    padding: 1.5rem;
    height: 50vh;
  }
  .texto-banner h1 {
    font-size: 1.7rem;
  }
  
  .video iframe {
    width: 380px;
    height: 213.75px;
  }
 
}

@media screen and (max-width: 999px) {
 
  .banner {
    padding: 1rem;
    height: 50vh;
  }
  .texto-banner h1 {
    font-size: 1.6rem;
  }
  
  .texto-banner p {
    font-size: .9rem;
    padding-bottom: .9rem;
  }
  .texto-banner a {
    padding: 1rem;
    font-size: 1rem;
  }
  .video iframe {
    width: 360px;
    height: 202.50px;
  }
 
}

@media screen and (max-width: 980px) {
  
  .banner {
    width: 100%;
    height: 100vh;
    padding: 5rem;
  }
  .texto-banner{
    width: 100%;
    height: 40vh;
    justify-content: end;
  }
  .texto-banner h1 {
    font-size: 2.5rem;
  }
  
  .texto-banner p {
    font-size: 1.2rem;
    
  }
  
  .texto-banner a{
    font-size: 1.2rem;
  }
  
  .video iframe {
    width: 560px; 
    height: 315px; 
  }


  .container-main {
    height: 100vh;
    padding: 5rem;
  }
  .texto-main {
    width: 100%;
  }
 
}