@media screen and (max-width: 1237px) {
  .email input, .info-pessoal input, .lista-sexo, .lista-sangue, .endereco ul, .doenca {
    width: 70%;
  }
  
  .peso-altura {
    width: 70%;
    gap: 2%;
  }

  .peso-altura input {
    width: 49%;
  }

  form button {
    width: 30%;
  }
  .frag-endereco ul {
    width: 100%;
  }
}


@media screen and (max-width: 900px) {
  .email input, .info-pessoal input, .lista-sexo, .lista-sangue, .endereco ul, .doenca {
    width: 90%;
  }
  
  .peso-altura {
    width: 90%;
    gap: 2%;
  }
  .peso-altura input {
    width: 49%;
  }

  .frag-endereco ul {
    width: 100%;
  }
 
}

@media screen and (max-width: 773px) {
  .email input, .info-pessoal input, .lista-sexo, .lista-sangue, .endereco ul, .doenca {
    width: 100%;
  }
  
  .peso-altura {
    width: 100%;
    gap: 2%;
  }

  .peso-altura input {
    width: 49%;
  }

  
  form button {
    width: 40%;
  }

}

@media screen and (max-width: 620px) {
  
  main {
    padding: 2% 10%;
  }
}

@media screen and (max-width: 527px) {
  
  main {
    padding: 2% 5%;
  }
}
@media screen and (max-width: 499px) {
  
  main {
    padding: 2%;
  }

  .lista-sangue {
   justify-content: center;
  }
  .lista-sangue ul{
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  
 
  .lista-sangue {
   justify-content: center;
  }
  .lista-sangue ul{
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  form button {
    width: 50%;
  }
}