
@media screen and (max-width: 1835px) {
  .banner { 
    padding-bottom: 0rem;
    height: 100vh;
  }
  
  
  .texto-banner h1, .texto-main h2 {
    font-size: 2.5rem;
  }
  .texto-aside h2 {
    font-size: 2.7rem;
  }

  .video iframe {
    width: 500px;
    height: 281.25px;
  }
  .container-main {
    padding: 2rem 10rem;
  } 
}
@media screen and (max-width: 1544px) {
  .texto-banner h1, .texto-main h2 {
    font-size: 2.3rem;
  }

  .texto-aside h2 {
    font-size: 2.9rem;
  }

  .video iframe { 
    width: 480px;
    height: 270px;
  }
}


@media screen and (max-width: 1460px){
  
  .banner {
    width: 100%;
    height: 100vh;
    padding: 2rem 8rem;
    padding-bottom: 0;
  }
  .texto-banner{
    width: 100%;
    height: 40vh;
    text-align: end;
    padding-bottom: 5rem;
  }
  .texto-banner h1 {
    text-align: left;
  }

  p {
    font-size: 1.2rem;
    
  }
  
  .texto-banner a{
    font-size: 1.5rem;
  }
  .video iframe {
    width: 460px; 
    height: 258.75px; 
  }
  .container-main {
    height: 90vh;
    padding: 5rem 10rem;
  }
  .texto-main {
    width: 100%;
  }

  .container-aside {
    padding: 2rem 10rem;
  }

  .texto-aside {
    width: 100%;
  }

 
}

@media screen and (max-width: 1030px) {
  .container-main {
    height: 90vh;
    padding: 5rem 10rem;
  }
  .texto-main h1 {
    text-align: justify;
  }

  .container-aside {
    height: 100vh;
    padding: 5rem 10rem;
  }
}

@media screen and (max-width: 943px) {
  .banner {
    padding: 2rem 5rem;
  }
  .container-main {
    padding: 2rem 5rem;
  }
  .container-aside {
    padding: 2rem 5rem;
  }
  
}


@media screen and (max-width: 782px) {
  .banner {
    padding: 2rem;
  }

  .container-main {
    padding: 2rem;
  }
  .texto-aside h2 span{
    font-size: 5rem;
  }

  .texto-aside a {
    font-size: 1.7rem;
    padding: 1.2rem 3.9rem;
  }

  
}
@media screen and (max-width: 686px) {

  .banner {
    background-image: url(../img/background-banner2.svg);
  }
  
  .texto-banner h1, .texto-main h2 {
    font-size: 2rem;
  }

  .texto-aside h2 {
    font-size: 2.5rem;
  }

  .container-aside {
    padding: 2rem;
  }

  .video iframe {
    width: 460px;
    height: 258.75px;
  }

  footer {
    justify-content: space-between;
    padding: 3rem;
    font-size: 1.3rem;
  }

  footer h4 {
    font-size: 1.5rem;
  }

 
}
@media screen and (max-width: 593px) {

  .texto-banner h1, .texto-main h2, .texto-aside h2 {
    font-size: 1.8rem;
  }

  .container-aside {
    padding: 2rem;    
  }

  .texto-aside h2 {
    padding-bottom: -5rem;
  }

  .video iframe {
    width: 440px;
    height: 247.50px;
  }
  
  footer {
    padding: 2rem;
  }

}
@media screen and (max-width: 515px) {
  .container-aside {
    padding: 2rem; 
  }

  .video iframe {
    width: 420px;
    height: 236.25px;
  }
  
}


@media screen and (max-width: 515px) {
 
  .video iframe {
    width: 360px;
    height: 202.50px;
  }
  
}

@media screen and (max-width: 445px) {
  
  .video iframe {
    width: 340px;
    height: 191.25px;
  }

  .texto-aside h2 {
    padding-top: 10rem;
  }
  
}

@media screen and (max-width: 370px) {
 
  .video iframe {
    width: 320px;
    height: 180px;
  }
  
}

