@media screen and (max-width: 1367px) {
  
  main {
    margin: 2% 0%;
    
  }
}
@media screen and (max-width: 739px) {
  
  main {
    margin: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
