@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(../img/perfilImg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 2% 20%;
  padding: 2% 15%;
  background-color: #ff7186a2;
  border-radius: 20px;
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.164);
}

.titulo {
  width: 100%;
  text-align: center;
  padding-bottom: 1.5%;
}

.titulo h1 {
  font-size: 2.2rem;
  padding-bottom: .3rem;
  color: white;

}

.titulo p {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  color: white;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 1rem;
  height: 4rem;
  font-size: 1.2rem !important;
  font-weight: 600;
  color: #FF0046;
  border: none;
  border-radius: 15px;
  margin-bottom: 3rem;
  cursor: pointer;
  border: 2px solid white;
  background-color: white;
  transition: .5s ease-in-out;
  font-size: 15px;
  /* Defina o tamanho da fonte desejado em pixels */
  text-decoration: none;
}

nav a:hover {
  background-color: transparent;
  color: white;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form p {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
  color: white;
  font-weight: 500;
}


form input {
  padding: .4rem 2rem;
  height: 2.5rem;
  margin-bottom: .5rem;
  border-radius: 10px;
  border: none;
  color: #FF0046;
  font-weight: 500;
  font-size: 1rem;
}

form input::placeholder {
  color: #FF0046;
  font-size: 1rem;
  font-weight: 500;
}



form button i {
  padding-left: .7rem;
}


.titulo-info-pessoal {
  font-size: 1.5rem;
}

.info-agendamento {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  /* Defina o tamanho da fonte desejado em pixels */
  color: white;
  /* defina a cor da fonte */
  font-weight: bold;
  /* negrito */
}


.agendar-doacao {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-pessoal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.lista-tatuagem {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.lista-tatuagem p {
  font-size: 1rem;
}

.lista-tatuagem label {
  font-size: 1.3rem;
  cursor: pointer;

}


.lista-tatuagem input[type='radio']:after {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  cursor: pointer;
  border: 3px solid white;
}

.lista-tatuagem input[type='radio']:checked:after {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: #FF7187;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

.info-piercing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.lista-piercing {
  width: 50%;
  display: flex;
  gap: 2rem;
}

.lista-piercing label {
  font-size: 1.3rem;
  cursor: pointer;

}


.lista-piercing input[type='radio']:after {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  cursor: pointer;
  border: 3px solid white;
}

.lista-piercing input[type='radio']:checked:after {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: #FF7187;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

.info-remedio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.lista-remedio {
  width: 50%;
  display: flex;
  gap: 2rem;
}

.lista-remedio label {
  font-size: 1.3rem;
  cursor: pointer;

}


.lista-remedio input[type='radio']:after {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  cursor: pointer;
  border: 3px solid white;
}

.lista-remedio input[type='radio']:checked:after {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: #FF7187;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

.btEnviar {
  height: 3.5rem;
  font-size: 1.5rem;
  padding: .7rem;
  font-weight: 800;
  color: #FF0046;
  border: none;
  border-radius: 15px;
  margin-top: 1.7rem;
  margin-bottom: 2rem;
  cursor: pointer;
  border: 2px solid white;
  background-color: white;
  transition: .5s ease-in-out;

}

.btEnviar:hover {
  background-color: transparent;
  color: white;
}

dialog {
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  padding: 2rem;
  color: #FF0046;
  border: none;
  border-radius: 5px;
  box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.096);
}

dialog button {
  font-size: 1.2rem;
  font-weight: 500;
  align-items: end;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  padding: .7rem;
  color: #FF0046;
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.445);
}